.contactus1 > h2{
    display: inline-block;
font-family: 'Cormorant Infant';
font-style: italic;
font-weight: 600;
font-size: 70px;
text-align: center;
align-items: center;
width: 1000px;
color: #333333;
}

.contactus1 > h4{
    font-family: 'Muli';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

text-align: center;
letter-spacing: 0.06em;

color: #A3A3A3;

}
.contactus1{
    text-align: center !important;
    align-items: center;
    margin: 0 auto;
}



.name{
    height: 50px;
    width: 400px;margin: 4.5px auto;
    border: 1px solid rgba(163, 163, 163, 0.7);
border-radius: 5px;
}
.email{
    height: 50px;
    margin: 4.5px auto;
    width: 400px;
    border: 1px solid rgba(163, 163, 163, 0.7);
border-radius: 5px;
}
.subject{
    height: 50px;
    width: 400px;margin: 4.5px auto;
    border: 1px solid rgba(163, 163, 163, 0.7);
border-radius: 5px;
}
.message{
    height: 150px;
    width: 400px;
    margin: 4.5px auto;
    border: 1px solid rgba(163, 163, 163, 0.7);
border-radius: 5px;
}
.input {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   padding-left: 475px;
  }
  
  .send_message {
    position: relative;
    right: 55px;
    width: 288px;
    height: 63px;
    margin: 0 auto;
    text-align: center;
    background: #FC3C3C;
    margin-top: 20px; /* add margin to create space between the input boxes and the button */
  }
  .text {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
  }

  /* input::placeholder{
    position: absolute;
    top: 0;
    left: 0;
  }
   */