.nav {
  width: 100%;
}

.nav_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
}

.nav_right > ul {
  display: flex;
  gap: 2rem;
}

.nav_left {
  display: flex;
  align-items: center;
}

.nav_left > h2 > span > img {
  height: 2rem;
  width: 2rem;
}
