*{
    box-sizing: border-box;
}
.item{
    display: flex;
   
    margin-bottom: 5.875rem;
   
    
}
.image{
    float: left;
}
.item-right > span{
    font-family: 'Cormorant Infant';
font-style: italic;
font-weight: 700;
font-size: 20px;
line-height: 24px;
/* identical to box height */
margin-left: 1rem;
display: flex;
align-items: center;

color: #333333;
}

.item-right > p{
    font-family: 'Muli';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
margin: 1rem;
max-width: 205px;

color: #333333;

}

.container{
    padding-top: 6rem;
    margin: 0rem 6.25rem;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.header{
    padding-left: 70px;
    margin: 25px;
    
}
.header > h2{
    
font-family: 'Cormorant Infant';
font-style: italic;
font-weight: 500;
font-size: 55px;
line-height: 67px;
/* identical to box height */

display: flex;
align-items: center;

color: #333333;

}

.header > h4{
    font-family: 'Muli';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
/* identical to box height */

display: flex;
align-items: center;
margin-bottom: 3.7rem;
color: #A3A3A3;

}
.buttons{
    display: flex;
 
    padding-left: 400px;
}

.bookservice{
  
    align-items: center;
    text-align: center;
margin-right: 40px;
padding-left: 90px;

width: 294px;
height: 63px;



background: #FC3C3C;
}
.contactus{
    display: flex;
flex-direction: row;
align-items: center;
padding: 20px 83px;
gap: 10px;
background-color:transparent;
border:2px solid #FC3C3C;

width: 294px;

top: 2147px;


}
.button1{


font-family: 'Quicksand';
font-style: normal;
font-weight: 500;

/* identical to box height */

display: flex;


color: #FFFFFF;
}
.button2{
    color: #FC3C3C;
}